@import '../../../Base/Css/GlobalVariables';

.featured-product-list-wapper {

}

.featured-product-list-wapper-title {
    text-align: center;
}

.featured-product-list {
    padding: 10px;
    background-color: white;
}

.featured-product-list-cover {

    @media only screen and (max-width: $mobileLSize - 1 + "px") {
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    @media only screen and (min-width: $mobileLSize + "px") {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.featured-product-item {
    width: 100px;
    height: 200px;
    margin: 12px;
    position: relative;

    @media only screen and (max-width: $mobileLSize - 1 + "px") {
        display: inline-block;
        box-sizing: border-box;
        // align inline-block element to top of parent
        vertical-align: top;
    }

    @media only screen and (min-width: $mobileLSize + "px") {
    }
}

.featured-product-item-link {
    text-decoration: none;
    color: $mainColor;
}

.featured-product-item-mark-best-seller {
    width: 50px;
    height: 20px;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    position: absolute;
    transform: rotate(-33deg);
    top: 1%;
    left: -7%;
}

.featured-product-item-mark-brand-new {
    width: 50px;
    height: 20px;
    background-color: mediumblue;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    position: absolute;
    transform: rotate(-33deg);
    top: 1%;
    left: -7%;
}

.featured-product-item-mark-discount {
    width: 50px;
    height: 20px;
    background-color: crimson;
    text-align: center;
    color: white;
    line-height: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    position: absolute;
    transform: rotate(-33deg);
    top: 1%;
    left: -7%;
}

.featured-product-item-image {

    width: 100px;
    height: 100px;
    box-sizing: border-box;

    @media only screen and (max-width: $mobileLSize - 1 + "px") {

    }

    @media only screen and (min-width: $mobileLSize + "px") {
    }
}

.featured-product-item-detail {
    text-align: center;
}

.featured-product-item-detail-name {
    margin: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.featured-product-item-detail-only-standard-price {
    font-size: $subTitleFontSize;
    margin: 5px 0px;
}

.featured-product-item-detail-price {
    text-decoration: line-through;
}

.featured-product-item-detail-discount-price {
    font-size: $subTitleFontSize;
    color: red;
    font-weight: bold;
    margin: 5px 0px;
}

.featured-product-item-detail-review {
    font-size: $subTitleFontSize;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-product-item-detail-review-icon {
    position: relative;
    height: 0px;
    width: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid gold;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
}

.featured-product-item-detail-review-icon::before {
    position: absolute;
    top: -6px;
    left: 1px;
    content: "";
    border-bottom: 9px solid gold;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(35deg);
}

.featured-product-item-detail-review-icon::after {
    position: absolute;
    top: 0px;
    left: -9px;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 7px solid gold;
    border-left: 10px solid transparent;
    transform: rotate(70deg);
}

.featured-product-item-detail-review-score {

}

.featured-product-item-detail-review-total-number {

}

.featured-product-list-btn-wrapper {
    display: flex;
    justify-content: space-around; 
}

.featured-product-list-left-btn {
    all: unset;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: solid springgreen;
    border-width: 3px 0 0 3px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.featured-product-list-right-btn {
    all: unset;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: solid springgreen;
    border-width: 3px 0 0 3px;
    transform: rotate(135deg);
    cursor: pointer;
}
